.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(252, 82, 3, 0.623);
}

.modal {
  width: 70vw;
  max-width: 400px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightslategrey;
  border-radius: 7px;
  background-color: white;
}
